@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.slide-in-left {
    animation: slide-in-left 1s both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.reveal-text {
    overflow: hidden;
    white-space: nowrap;
    animation: revealAnimation 1s ease;
}

@keyframes revealAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}